html,
body,
#root,
.app {
    height: 100%;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zero-logo-container {
  cursor: pointer;
  background-color: red;
	width: 205px;
  height: 205px; 
  border-radius: 50%;
  display: inherit;
  justify-content: center;
}

.zero-logo-container:hover {
  /* background-color: blue; */
}

.zero-logo {

}