@import url('https://fonts.googleapis.com/css?family=Montserrat');

html,
body,
#root,
.app {
    color: #515151;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0 auto;
}

@media only screen 
and (min-width : 320px) {
  .app {
    font-size: 18px;
  }
  .zero-text-container {
    padding: 0 10%;
  }
}

@media only screen 
and (min-width : 600px) {
  .app {
    font-size: 20px;
  }

  .zero-text-container {
    padding: 0 15%;
  }
}

@media only screen
and (min-width: 1020px) {
  .app {
    font-size: 28px;
  }

  .zero-text-container {
    padding: 0 20%;
  }
}

@media only screen
and (min-width: 1200px) {
  .app {
    font-size: 30px;
  }

  .zero-text-container {
    padding: 0 25%;
  }
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zero-demo-container {
  background-color: #FFF;
	width: 205px;
  height: 205px;
  z-index: 1;
  border-radius: 50%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  flex-direction: column;
}

.zero-loading {
  position: absolute;
  background-color: #313131;
  width: 100%;
  bottom: 0;
}

.zero-logo {
  max-height: 25px;
  max-width: 90px;
}

.zero-logo-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.zero-logo-loaded {
  cursor: pointer;
}

.zero-text-container {
  display: none;
  flex-direction: column;
  flex: 1;
  bottom: 0;
  position: fixed;
  opacity: 0;
}
