html,
body,
#root,
.app {
    height: 100%;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zero-logo-container {
  cursor: pointer;
  background-color: #FFF;
	width: 205px;
  height: 205px;
  z-index: 1;
  border-radius: 50%;
  display: inherit;
  justify-content: center;
}

.zero-logo-container:hover {
  /* background-color: blue; */
}

.zero-logo-container:focus {
  /* border-radius:50%; */
}

.zero-logo {

}

.zero-loading {
  position: absolute;
  background-color: #313131;
  width: 100%;
  height: 100%;
}